/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

@media only screen and (max-width: 850px) {
    #content p,span {
		margin-left: 0 !important;
  	}

  #screenshot {
	position: unset !important;
	margin-left: 25%
  }
}

@font-face {
	font-family: 'roboto';
	src: url('/static/Roboto-Regular.ttf');
  }
  
  @font-face {
	font-family: 'roboto-light';
	src: url('/static/Roboto-Light.ttf');
  }
  
  body {
	  background-color: #FAFAFA;
	  margin:0;
	  padding:0;
	  font-family: 'roboto', sans-serif;
  }
  
  .bubble {
	  background-color: #62c4fb;
  }
  
  .icon {
	float: left;
	margin-right: 5px;
	width: 28px;
  }
  
  #header {
	  width: 100%;
	  background-color: #FFFFFF;
	  padding: 1;
  }
  
  #header img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }
  
  #content {
	  margin: 0;
	  background-color: #37acec;
	  color: #FFFFFF;
	  padding: 10px;
	  padding: 5%;
  }

  #content p {
  	margin-left: 55%
  }
  #content span {
  	margin-left: 55%
  }
  
  #tagline {
	  font-size: 25pt;
	  display: block;
	  font-family: 'roboto-light', sans-serif;
  }
  
  #content a:link {
	  color: #FFFFFF;
  }

  #screenshot {
	position:absolute;
	top: 130px;
	}

	#screenshot img {
		width: 50%;
	}

  #signinbox {
  	width: 350px;
  	background-color: #009688;
  	padding: 20px;
  	color: #FFFFFF;
  	position: absolute;
  	top:0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
  	height: 280px;
  }

  #signintext {
	  text-align: center;
  }

  #signinlink {
  	text-decoration: none;
  	color: #000;
  	position: absolute;
  	right: 20px;
  	top: 17px;
  	cursor: pointer;
  }

  #signIn {
  	margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #37acec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  #signUp {
  	text-align: center;
  }

  #signuplinkcontainer {
  	text-align: center;
  }

  #signuplinkcontainer a{
  	color: #FFFFFF
  }